html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "PingFangHK-UltraLight", PingFangHK;
  color: #999;
  font-weight: 200;
}




/* ---- particles js section ---- */

#particles-js{
  width: 100%;
  height: 768px;
  background-color: transparent;
  background-image: url('img/night-grid.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#night-grid {
    /* Data URI encoded from: night-grid.svg */
    background: #4b5768 url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGRlZnM+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAuNSIgeTE9IjAiIHgyPSIwLjUiIHkyPSIxIj4KICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMzIzYTQ1IiAvPgogICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM0YjU3NjgiIC8+CiAgPC9saW5lYXJHcmFkaWVudD4KIDwvZGVmcz4KIDxnPgogIDxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBzdHJva2Utd2lkdGg9IjAiIHg9IjAiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
    background-size: contain;
  }

.overlay {
  width: 100%;
  height: 768px;
  background: transparent;
  border: transparent;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  margin-top: 30%;
}

.shape-spacer {
  background: transparent;
  border: transparent;
  height: 50px;
  width: 100%;
}

.graph-spacer {
  background: transparent;
  border: transparent;
  height: 80px;
  width: 100%;
}

.overlay h1 {
  font-family: PingFangHK-UltraLight, PingFangHK;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 200;
  background: transparent;
}

.overlay h1 .one {
  color: #ccc;
}

.overlay h1 .two {
  color: #eee;
}

#mid {
  width: 100%;
  text-align: center;
}

#mid p {
  padding-top: 12px;
  padding-bottom: 8px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: rgb(122, 137, 159);
  font-size: 28px;
  font-weight: 200;
  background: transparent;
}

#mid img {
  border-radius: 0px;
  width: 60%;
  height: auto;
}

.overlay .learn {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #1b9af7;
  border-radius: 2px;
  padding: 8px 22px;
  color: #fff;
  background: #1b9af7;
  font-weight: 200;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

/* ---- end of particles js section ---- */


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: PingFangHK-UltraLight, PingFangHK;
  font-weight: 200;
  padding-bottom: 5px;
  padding-top: 5px;
}

p,.p {
  color: #ccc;
  font-weight: 200;
  padding-bottom: 5px;
  padding-top: 5px;
}

a {
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

section {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.break {
  height: 1px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border: transparent;
}

#menu {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  z-index: 9999;
}
#menu ul.shapegraph {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}
#menu ul.shapegraph .brand {
  font-family: PingFangHK-UltraLight, PingFangHK;
  font-size: 24px;
  padding: 12px 12px;
  line-height: 32px;
  font-weight: 200;
}
#menu ul.shapegraph .brand .logo {
  color: #1b9af7;
  font-family: PingFangHK-Light, PingFangHK;
  font-weight: 400;
}
#menu ul.shapegraph li {float: left;}

#menu ul.shapegraph li a {
  display: inline-block;
  color: #566376;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  line-height: 32px;
}

#menu ul.shapegraph li a:hover {background: #fff;}

#menu ul.shapegraph li.icon {display: none;}
#menu ul.shapegraph li.icon button {background: #fff; border: 1px solid #fff; color: #1b9af7; font-size: 24px; padding: 12px 12px; line-height: 32px;}
@media screen and (max-width:680px) {
  #menu ul.shapegraph li:not(:first-child) {display: none;}
  #menu ul.shapegraph li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  #menu ul.shapegraph.responsive {position: relative;}
  #menu ul.shapegraph.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #menu ul.shapegraph.responsive li {
    float: none;
    display: inline;
  }
  #menu ul.shapegraph.responsive li a {
    display: block;
    text-align: left;
  }
}

#about {
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
  color: #1b9af7;
  padding-bottom: 50px;
  padding-top: 50px;
  border: #f9f9f9;
}

#about h3 {
  color: #1b9af7;
  padding-bottom: 10px;
}

#about h4 {
  color: #1b9af7;
  padding-bottom: 10px;
}

#about h4 small {
  color: #1b9af7;
  padding-bottom: 10px;
  font-weight: 200;
}

#about p {
  color: #1b9af7;
  padding-bottom: 10px;
  font-weight: 200;
}

#about .thumbnail {
  background: transparent;
  border: transparent;
}

#about .thumbnail img {
  background-image: url("img/t1.jpg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#about .col-md-4 {
  border: #f9f9f9;
  background: #f9f9f9;
}

#about i {
  color: #1b9af7;
}

#services {
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #feae1b;
  background: #fff;
}

#services i {
  margin-left: 50%;
  color: #feae1b;
  font-size: 48px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#services .row {
  padding: 15px;
}

#services h3 {
  margin-left: 5%;
  color: #feae1b;
  font-weight: 400;
}

#services h4 {
  color: #feae1b;
  font-weight: 200;
}

#services p {
  color: #feae1b;
}

#contact {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #f8f8f8;
  color: #ff4351;
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact i {
  color: #ff4351;
  font-size: 32px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#contact h3 {
  color: #ff4351;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
}

#contact p {
  color: #ff4351;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 200;
}

#contact .call {
    text-decoration: none;
    color: #ff4351;
}

#contact .call:hover {
    color: #ff4351;
    text-decoration: none;
}

#contact .call:focus {
    color: #ff4351;
    text-decoration: none;
}

#contact .mail {
    text-decoration: none;
    color: #ff4351;
}

#contact .mail:hover {
    color: #ff4351;
    text-decoration: none;
}

#contact .mail:focus {
    color: #ff4351;
    text-decoration: none;
}

#shape-sub-footer {
  background: transparent;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #00bcd4;
  margin: 0px;
}

#shape-sub-footer li a {
  font-size: 16px;
  color: #00bcd4;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
}

#shape-sub-footer .shape-side-grid {
  padding-bottom: 15px;
}

#shape-sub-footer .shape-side-grid i {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#shape-sub-footer .shape-side-grid h3 {
  color: #00bcd4;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
}

#shape-sub-footer .shape-side-grid .list-unstyled a {
  color: #00bcd4;
  padding-bottom: 10px;
  padding-top: 10px;
}

#shape-sub-footer .right-graph {
  float: right;
  background: transparent;
}
  

#shape-sub-footer .right-graph i {
  font-size: 80px;
  color: #566376;
  margin: 0px;
  vertical-align: middle;
}

#shape-sub-footer .right-graph .icon-pencil {
  font-size: 60px;
  color: #99f3ff;
}

#shape-footer {
  margin: 0px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: #fff;
  text-align: center;
  background: #566376;
}

#shape-footer p {
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 30px;
}

#shape-footer p:last-child {
  margin: 0px;
  color: #fff;
}

#shape-footer a {
  color: #fff;
}

#shape-footer i {
  font-size: 22px;
  border: 2px solid #566376;
  color: #566376;
  width: 26px;
  height: 26px;
  border-radius: 0px;
  padding: 2%;
}
