html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Proxima Nova", sans-serif, Kohinoor Telugu, Kohinoor Telugu-light;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 10px;
}

p,.p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}

section {
  width: 100%;
  margin: 0px;
}


/* navbar */
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
/* title */
.navbar-default .navbar-brand {
    color: #1b9af7;
    font-weight: 200;
    font-size: 22px;
    line-height: 30px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #1b9af7;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #1b9af7;
    line-height: 30px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1b9af7;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #1b9af7;
    background-color: #fff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #1b9af7;
    background-color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-compass {
    color: #1b9af7;
    font-size: 22px;
    line-height: 30px;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #1b9af7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #1b9af7;
    }
}

.navbar-brand .logo {
  color: #566376;
  font-weight: 400;
}

#about {
  background: #1b9af7;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}

#about .container {
  margin: 10px;
  border: 1.5px solid #1b9af7;
}

#about h3, #about h2, #about h3 small, #about p {
  color: #fff;
  margin-top: 10px;
}

#about .thumbnail {
  background: #1b9af7;
  border: 1px solid #1b9af7;
}

#about .thumbnail img {
  background-image: url("img/t1.jpg");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 12px;
  border: 1.5px solid #1b9af7;
}

#about .col-md-4 {
  border: transparent;
  background: transparent;
}

#about i {
  color: #fff;
}

#portfolio {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  background: #feae1b;
  border-bottom: 5px solid #fff;
}

#portfolio h2 {
  color: #fff;
  margin-top: 10px;
}

#portfolio p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#portfolio .shape-img {
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}

#portfolio button {
  border: 1px solid #fff;
  background: #feae1b;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin: 2px;
  box-shadow: 0px 3px 5px #e49501;
}

#portfolio a {
  color: #fff;
  text-decoration: none;
}

#contact {
  text-align: center;
  background: #ff4351;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 5px solid #fff;
}
#contact i {
  color: #323a45;
  font-size: 48px;
  margin: 15px;
}

#contact p {
  color: #fff;
  margin-bottom: 15px;
}

#contact .button-bright {
  background: #fff;
  border: 1px solid #fff;
  border-bottom: 2px solid #eee;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ff4351;
  text-decoration: none;
  box-shadow: 0px 3px 5px #b3000c;
}

#shape-sub-footer .shape-side-grid-inset {
  padding: 15px;
  background-color: #fff;
  color: #fff;
  border-radius: 4px;
}

#shape-sub-footer .shape-side-grid-inset p:last-child,
#shape-sub-footer .shape-side-grid-inset ul:last-child,
#shape-sub-footer .shape-side-grid-inset ol:last-child {
  margin-bottom: 0;
}

#shape-sub-footer {
  background: #00bcd4;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #fff;
  border-bottom: 5px solid #fff;
}

#shape-sub-footer a {
  font-size: 16px;
}

#shape-sub-footer .shape-side-grid {
  padding: 15px;
  margin: 0 -15px 15px;
}

#shape-sub-footer .shape-side-grid i {
  font-size: 20px;
  padding: 10px;
}

#shape-sub-footer .shape-side-grid h4 {
  color: #fff;
}

#shape-sub-footer .shape-side-grid a {
  color: #fff;
}

#shape-sub-footer .right-graph {
  float: right;
}

#shape-sub-footer .right-graph i {
  font-size: 80px;
  color: #fff;
  margin: 0px;
  padding-right: 15px;
  vertical-align: middle;
}

#shape-sub-footer .right-graph .icon-pencil {
  font-size: 60px;
  color: #99f3ff;
}

.shape-footer {
  padding: 40px 0;
  color: #fff;
  text-align: center;
  background: #323a45;
}

.shape-footer p {
  color: #fff;
}

.shape-footer p:last-child {
  margin-bottom: 0;
  color: #fff;
}

.shape-footer a {
  color: #60677c;
}
