html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "PingFangHK-UltraLight", PingFangHK;
  color: #ccc;
  font-weight: 200;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
}

p,.p {
  color: #ccc;
  font-weight: 200;
  padding-bottom: 5px;
  padding-top: 5px;
}

a {
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

section {
  width: 100%;
  margin: 0px;
}

.break {
  height: 1px;
  width: 100%;
  margin: 0px;
  background: transparent;
  border: transparent;
}

#menu {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  z-index: 9999;
}
#menu ul.shapegraph {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}
#menu ul.shapegraph .brand {
  font-family: PingFangHK-UltraLight, PingFangHK;
  font-size: 24px;
  padding: 14px 14px;
  line-height: 32px;
  font-weight: 200;
}
#menu ul.shapegraph .brand .logo {
  color: #1b9af7;
  font-family: PingFangHK-Light, PingFangHK;
  font-weight: 400;
}
#menu ul.shapegraph li {float: left;}

#menu ul.shapegraph li a {
  display: inline-block;
  color: #566376;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  line-height: 32px;
}

#menu ul.shapegraph li a:hover {background: #fff;}

#menu ul.shapegraph li.icon {display: none;}
#menu ul.shapegraph li.icon button {background: #fff; border: 1px solid #fff; color: #1b9af7; font-size: 24px; padding: 14px 14px; line-height: 32px;}
@media screen and (max-width:680px) {
  #menu ul.shapegraph li:not(:first-child) {display: none;}
  #menu ul.shapegraph li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  #menu ul.shapegraph.responsive {position: relative;}
  #menu ul.shapegraph.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #menu ul.shapegraph.responsive li {
    float: none;
    display: inline;
  }
  #menu ul.shapegraph.responsive li a {
    display: block;
    text-align: left;
  }
}

#about {
  background: #f9f9f9;
  color: #1b9af7;
  padding-bottom: 50px;
  padding-top: 50px;
  border: #f9f9f9;
  margin: 0px;
}

#about h1 {
  font-size: 20px;
  color: #1b9af7;
  padding-bottom: 10px;
}

#about h3, #about h2, #about h3 small, #about p {
  color: #1b9af7;
  padding-bottom: 10px;
}

#about .thumbnail {
  background: transparent;
  border: transparent;
}

#about .thumbnail img {
  background-image: url("img/t1.jpg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#about .col-md-4 {
  border: #f9f9f9;
  background: #f9f9f9;
}

#about i {
  color: #1b9af7;
}

#services {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #feae1b;
  background: #fff;
}

#services i {
  margin-left: 50%;
  color: #feae1b;
  font-size: 48px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#services .row {
  padding: 15px;
}

#services h1 {
  font-size: 20px;
  margin-left: 5%;
  color: #feae1b;
}

#services h3 {
  color: #feae1b;
}

#services p {
  color: #feae1b;
}

#portfolio {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#portfolio .container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#portfolio .col-md-offset-2, .col-md-8 {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#portfolio .row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#portfolio .row .col-sm-4 {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#portfolio .row .img-responsive {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

#contact {
  text-align: center;
  background: #f8f8f8;
  color: #ff4351;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
}
#contact i {
  color: #ff4351;
  font-size: 32px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#contact h1 {
  font-size: 20px;
  color: #ff4351;
  padding-bottom: 10px;
  padding-top: 10px;
}

#contact p {
  color: #ff4351;
  padding-bottom: 10px;
  padding-top: 10px;
}

#contact .call {
    text-decoration: none;
    color: #ff4351;
}

.call:hover,
.call:focus {
    color: #ff4351;
    text-decoration: none;
}

#contact .mail {
    text-decoration: none;
    color: #ff4351;
}

.mail:hover,
.mail:focus {
    color: #ff4351;
    text-decoration: none;
}

#shape-sub-footer {
  background: transparent;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #00bcd4;
  margin: 0px;
}

#shape-sub-footer li a {
  font-size: 16px;
  color: #00bcd4;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
}

#shape-sub-footer .shape-side-grid {
  padding-bottom: 15px;
}

#shape-sub-footer .shape-side-grid i {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#shape-sub-footer .shape-side-grid h1 {
  font-size: 20px;
  color: #00bcd4;
  padding-bottom: 10px;
  padding-top: 10px;
}

#shape-sub-footer .shape-side-grid .list-unstyled a {
  color: #00bcd4;
  padding-bottom: 10px;
  padding-top: 10px;
}

#shape-sub-footer .right-graph {
  float: right;
  background: transparent;
}

#canvas-holder canvas {
  width: 100%;
  height: auto;
  -moz-user-select: none;
   -webkit-user-select: none;
    -ms-user-select: none;
}
  

#shape-sub-footer .right-graph i {
  font-size: 80px;
  color: #566376;
  margin: 0px;
  vertical-align: middle;
}

#shape-sub-footer .right-graph .icon-pencil {
  font-size: 60px;
  color: #99f3ff;
}

#shape-footer {
  margin: 0px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  text-align: center;
  background: #566376;
}

#shape-footer p {
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 30px;
}

#shape-footer p:last-child {
  margin: 0px;
  color: #fff;
}

#shape-footer a {
  color: #fff;
}

#shape-footer i {
  font-size: 22px;
  border: 2px solid #00bcd4;
  color: #00bcd4;
  width: 26px;
  height: 26px;
  border-radius: 0px;
  padding: 2%;
}
