#swiper {
  background: #1b9af7;
  background: -webkit-linear-gradient(#1b9af7, #0885dd);
  background:    -moz-linear-gradient(#1b9af7, #0885dd);
  background:         linear-gradient(#1b9af7, #0885dd);
}
